@page "/"
<PageTitle>Главная</PageTitle>
<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Music Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Пластинки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Customers">Наши пользователи</a> 
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Привет,<br>cчастливый обладатель винила!</h1>
                <p>Откройте для себя мир музыкальных пластинок! У нас есть всё, что необходимо для истинных ценителей музыки.</p>
                <button type="button" class="btn btn-dark btn-lg">Начать покупки!</button>
            </div>
            <div class="col">
                <img src="https://i.ytimg.com/vi/YMEt6JOSmm8/maxresdefault.jpg" alt="Музыка" />
            </div>
        </div>
        <div class="container mt-5">
            <div class="row cards">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="icon" style="width: 18rem;">
                        <div class="card-body text-center">
                            <img src="https://avatars.mds.yandex.net/i?id=03aded4e6cc85d84668e56e2ecfd7d8d5af42363-8191765-images-thumbs&n=13" alt="Иконка рок" class="icon img-fluid">
                            <h5 class="card-title">Рок</h5>
                            <p class="card-text">Пластинки, которые заставляют ваше сердце биться чаще!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="icon" style="width: 18rem;">
                        <div class="card-body text-center">
                            <img src="https://thumbs.dreamstime.com/b/cheering-crowd-3011289.jpg" alt="Иконка поп" class="icon img-fluid">
                            <h5 class="card-title">Поп</h5>
                            <p class="card-text">Самые горячие хиты в вашей коллекции!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="icon" style="width: 18rem;">
                        <div class="card-body text-center">
                            <img src="https://avatars.mds.yandex.net/i?id=61fda467dde7952b8d28782a4dd910b6_l-4078058-images-thumbs&n=13" alt="Иконка джаз" class="icon img-fluid">
                            <h5 class="card-title">Джаз</h5>
                            <p class="card-text">Идеальная музыка для расслабления и наслаждения.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <img src="https://avatars.mds.yandex.net/i?id=0c0fb7cc71c945931a9904f309c61f3f_l-8982254-images-thumbs&n=13" alt="Музыкальное оборудование" class="img-fluid" />
            </div>
            <div class="col">
                <h1>Кратко о нашем магазине</h1>
                <p>Мы — магазин, который предлагает вам только лучшие музыкальные пластинки, собранные со всего мира.</p>
                <p>Наша миссия — приносить радость и вдохновение через музыку. Мы постоянно обновляем наш ассортимент, чтобы предоставить вам самые интересные и редкие пластинки.</p>
                <button type="button" class="btn btn-dark btn-lg">Узнать больше</button>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row align-items-center projects">
            <div class="col">
                <h1>Контакты</h1>
                <p>Свяжитесь с нами, если у вас есть вопросы или предложения относительно наших пластинок! Мы всегда готовы помочь вам.</p>
                <p>Email: support@musicstore.com</p>
                <p>Телефон: +79911694240</p>
            </div>
        </div>
    </div>
</section>