@page "/Customers"

<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Название</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Мои проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Привет,<br>базист!</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet soluta veniam voluptate aliquam deleniti labore quod quis illum, sapiente nam nesciunt magni voluptatibus voluptatem incidunt placeat consequuntur quaerat voluptatum expedita!</p>
                <button type="button" class="btn btn-dark btn-lg">Начать!</button>
            </div>
            <div class="col">
                <img src="https://repository-images.githubusercontent.com/190767422/73354680-8949-11e9-8dc9-b5749b98dd26" alt="...">
            </div>
        </div>
        <div class="row cards">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <img src="https://repository-images.githubusercontent.com/190767422/73354680-8949-11e9-8dc9-b5749b98dd26" alt="..." class="icon">
                        <h5 class="card-title">SQL Server</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <img src="https://repository-images.githubusercontent.com/190767422/73354680-8949-11e9-8dc9-b5749b98dd26" alt="..." class="icon">
                        <h5 class="card-title">Web API</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <img src="https://repository-images.githubusercontent.com/190767422/73354680-8949-11e9-8dc9-b5749b98dd26" alt="..." class="icon">
                        <h5 class="card-title">Blazor WASM</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <!-- another image can be inserted here -->
                <img src="https://repository-images.githubusercontent.com/190767422/73354680-8949-11e9-8dc9-b5749b98dd26" alt="..." class="img-fluid" />
            </div>
            <div class="col">
                <h1>Кратко о проекте</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tenetur reiciendis in quae, rem corporis id sequi debitis aliquam laudantium illum vel unde? Praesentium laboriosam neque eaque architecto maxime nihil?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tenetur reiciendis in quae, rem corporis id sequi debitis aliquam laudantium illum vel unde? Praesentium laboriosam neque eaque architecto maxime nihil?</p>
                <button type="button" class="btn btn-dark btn-lg">Подробнее</button>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row align-items-center projects">
            <div class="col">
                <h1>Я люблю базы данных!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quod aliquam corporis tempore nostrum. Animi rem quisquam deleniti qui ad ipsa quod! Animi corrupti, ex blanditiis dolor error nulla consectetur.</p>
            </div>
        </div>
    </div>
</section>
<PageTitle>Customers</PageTitle>

<h1>Hello, world!</h1>
<p>Текущая дата:@CurrentDate</p>
<p>Текущее время:@CurrentTime</p>


@foreach (var customer in result)
{
    <p>@customer.NameSurname @customer.Email</p>

}

@code {



    public class Customer
    {

        public int CustomerId { get; set; }
        public string NameSurname { get; set; } = null!;
        public string Email { get; set; }
        public string AddressCustomer { get; set; } = null!;
    }
    public Customer[] result = new Customer[] { };

    string @CurrentDate;
    string @CurrentTime;

    protected override async Task OnInitializedAsync()
    {

        var date = DateTime.Now;
        CurrentDate = date.ToShortDateString();
        CurrentTime = date.ToShortTimeString();


        var client = new HttpClient();
        client.BaseAddress = new Uri("https://webapplication1-14.onrender.com/");
        result = await client.GetFromJsonAsync<Customer[]>("api/Customers");

        return;


    }



}